.type {
    display: flex;
    align-items: center;
    font-family: 'Your Font Family', sans-serif; // Replace with your desired font
    color: #0016d9;
}

.icon {
	content: var(--type);
    background: url('../../app/kc.png') no-repeat center center;
    background-size: contain;
}

.type, .icon {
    user-select: none;
    display: block;
}